html,body{
    background-color: #f8f9fb;
    height:100%;
}

#layout{
    display:flex;
    min-height:100%;

}

#sidebar{
    width:250px;
    
}

#content{
    flex:1;
}

.projects-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    
}